{% extends 'woofer/pageframe.html' %}

{% block page_title %}Event List{% endblock %}

{% block scripts %}
<script>
window.onload = function () {
  var options = {
    valueNames: [ 'name', 'start_day', 'start_time', 'city',
                  'activity', 'location'  ],
    page: 10,
    plugins: [ ListPagination({}) ]
  };
  
  var userList = new List('events', options);
}
</script>
{% endblock %}

{% block content %}
  <div id="events">
    <input class="search" placeholder="Search" />
    <button class="sort" data-sort="name">Sort by name</button>
    <button class="sort" data-sort="start_day">Sort by start day</button>
    <button class="sort" data-sort="start_time">Sort by start time</button>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Time</th>
        <th>Duration</th>
        <th>City</th>
        <th>Activity</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody class="list">
      {% for event in events %}
        <tr>
          <td class="name">{{ event.name }}</td>
          <td class="start_day">{{ event.get_formatted_date }}</td>
          <td class="start_time">{{ event.get_formatted_time }}</td>
          <td class="duration">{{ event.duration }}</td>
          <td class="city">{{ event.city }}</td>
          <td class="activity">{{ event.get_activity_display }}</td>
          <td class="location">{{ event.get_location_display }}</td>
          <!-- Edit buttons -->
          <td><a href="{% url 'edit-event' event.id %}" ><button class="">Edit<span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button></a></td>
          <td><a href="{% url 'view-event' event.id %}" ><button class="">View<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></button></a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <ul class="pagination"></ul>
</div>

{% endblock %}