{% extends 'woofer/pageframe.html' %}

{% block page_title %}Woofer{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">View Event</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Name: {{ event.name }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4 class="text-left">Activity: {{ event.get_activity_display }}</h4>
        </div>
        <div class="col-md-6">
            <h4 class="text-right">User: {{ event.user }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="text-center">Description: {{ event.description }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p class="text-left">Location: {{ event.get_location_display }}</p>
        </div>
        <div class="col-md-3">
            <p class="text-center">Address: {{ event.address }}</p>
        </div>
        <div class="col-md-3">
            <p class="text-center"> City: {{ event.city }}</p>
        </div>
        <div class="col-md-3">
            <p class="text-right">Zipcode: {{  event.zipcode }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p class="text-left">Start Day: {{ event.start_day }}</p>
        </div>
        <div class="col-md-4">
            <p class="text-center">Start Time: {{ event.start_time }}</p>
        </div>
        <div class="col-md-4">
            <p class="text-right">Duration: {{ event.duration }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="text-center">insert list of users attending event</p>
        </div>
    </div>
</div>



{% endblock %}