{% extends 'woofer/pageframe.html' %}

{% block page_title %}Woofer{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ dog.name }}'s Profile</h3>
    </div>
    <div class="panel-body">
        <p>Owner: {{ dog.owner }}</p>
        <p>Breed: {{ dog.breed }}</p>
        <p>Activity: {{ dog.get_activity_display }}</p>
        <p>Weight: {{ dog.weight }}</p>
        <p>Bio: {{ dog.bio }}</p>
        <p>Temperament Dogs: {{ dog.get_temperament_dogs_display }}</p>
        <p>Temperament Kids: {{ dog.get_treatment_kids_display }}</p>
        <p>Temperament Stranger: {{ dog.get_temperament_strangers_display</p>
        <p>Potty Trained: {{ dog.potty_trained }}</p>
        <p>Birthday: {{ dog.birthday }}</p>
        <a href="{% url 'edit-dog' dog.id %}" ><button class="">Edit<span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button></a>
    </div>
</div>
    
{% endblock %}