{% extends 'woofer/pageframe.html' %}

{% block page_title %}Woofer{% endblock %}

{% block content %}
    
    <p>Dog Profile</p>
    <p>Name: {{ dog.name }}</p>
    <p>Owner: {{ dog.owner }}</p>
    <p>Birthday: {{ dog.birthday }}</p>
    <p>Weight: {{ dog.weight }}</p>
    <p>Breed: {{ dog.breed }}</p>
    <p>Potty Trained: {{ dog.potty_trained }}</p>
    <p>Bio: {{ dog.bio }}</p>
    <p>Activity: {{ dog.activity }}</p>
    <p>Temperament Kids: {{ dog.temperament_kids }}</p>
    <p>Temperament Dogs: {{ dog.temperament_dogs }}</p>
    <p>Temperament Strangers: {{ dog.temperament_strangers }}</p>
    
{% endblock %}