{% extends 'woofer/pageframe.html' %}

{% block page_title %}Woofer{% endblock %}

{% block content %}

    <p>Create an Event</p>
    <p>Name: {{form.name}}</p>
    <p>User: {{form.user}}</p>
    <p>Address: {{form.address}}</p>
    <p>City: {{form.city}}</p>
    <p>Zipcode: {{form.zipcode}}</p>
    <p>Start Day: {{form.start_day}}</p>
    <p>Start Time: {{form.start_time}}</p>
    <p>Duration: {{form.duration}}</p>
    <p>Description: {{form.description}}</p>
    <p>Location: {{form.location}}</p>
    <p>Activity: {{form.activity}}</p>
    
    
    

    
{% endblock %}