{% extends 'woofer/pageframe.html' %}

{% block page_title %}Woofer{% endblock %}

{% block content %}

    <p>Create an Event</p>
    <p>Name: {{ event.name }}</p>
    <p>User: {{ event.user }}</p>
    <p>Address: {{ event.address }}</p>
    <p>City: {{ event.city }}</p>
    <p>Zipcode: {{ event.zipcode }}</p>
    <p>Start Day: {{ event.start_day }}</p>
    <p>Start Time: {{ event.start_time }}</p>
    <p>Duration: {{ event.duration }}</p>
    <p>Description: {{ event.description }}</p>
    <p>Location: {{ event.location }}</p>
    <p>Activity: {{ event.activity }}</p>
    
{% endblock %}