{% extends 'woofer/pageframe.html' %}

{% block page_title %}Woofer{% endblock %}

{% block scripts %}
<script>
window.onload = function () {
  var options = {
    valueNames: [ 'name', 'start_day', 'start_time', 'city',
                  'activity', 'location'  ],
    page: 10,
    plugins: [ ListPagination({}) ]
  };
  
  var ownedEventsList = new List('owned_events', options);
  var attendingEventsList = new List('attending_events', options);
}
</script>
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Events you own</h3>
  </div>

  <div class="panel-body">
    <div id="owned_events">
    <input class="search" placeholder="Search" />
    <button class="sort" data-sort="name">Sort by name</button>
    <button class="sort" data-sort="start_day">Sort by start day</button>
    <button class="sort" data-sort="start_time">Sort by start time</button>
  <table>
    <thead>
      <th>Name</th>
      <th>Start Day</th>
      <th>Start Time</th>
      <th>Duration</th>
      <th>City</th>
      <th>Attendance</th>
      <th>Activity</th>
      <th>Location</th>
    </thead>
    <tbody class="list">
      {% for event in owned_events %}
        <tr>
          <td class="name">{{ event.name }}</td>
          <td class="start_day">{{ event.start_day }}</td>
          <td class="start_time">{{ event.start_time }}</td>
          <td class="duration">{{ event.duration }}</td>
          <td class="city">{{ event.city }}</td>
          <td class="attendance">{{ event.eventattendance__count }} / {{ event.attendance_cap }}</td>
          <td class="activity">{{ event.activity }}</td>
          <td class="location">{{ event.location }}</td>
          <!-- buttons -->
          <td><a href="{% url 'edit-event' event.id %}" ><button class="">Edit<span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button></a></td>
          <td><a href="{% url 'view-event' event.id %}" ><button class="">View<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></button></a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <ul class="pagination"></ul>
</div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Events you're attending</h3>
  </div>
  <div id="attending_events">
    <input class="search" placeholder="Search" />
    <button class="sort" data-sort="name">Sort by name</button>
    <button class="sort" data-sort="start_day">Sort by start day</button>
    <button class="sort" data-sort="start_time">Sort by start time</button>
  <table>
    <thead>
      <th>Name</th>
      <th>Start Day</th>
      <th>Start Time</th>
      <th>Duration</th>
      <th>City</th>
      <th>Attendance</th>
      <th>Activity</th>
      <th>Location</th>
    </thead>
    <tbody class="list">
      {% for event in attending_events %}
        <tr>
          <td class="name">{{ event.name }}</td>
          <td class="start_day">{{ event.start_day }}</td>
          <td class="start_time">{{ event.start_time }}</td>
          <td class="duration">{{ event.duration }}</td>
          <td class="city">{{ event.city }}</td>
          <td class="attendance">{{ event.eventattendance__count }} / {{ event.attendance_cap }}</td>
          <td class="activity">{{ event.activity }}</td>
          <td class="location">{{ event.location }}</td>
          <!-- buttons -->
          <td><a href="{% url 'view-event' event.id %}" ><button class="">View<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></button></a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <ul class="pagination"></ul>
</div>
  <div class="panel-body">
    
  </div>
</div>
{% else %}
<!-- User is not logged in -->
<h2>Welcome!</h2>
<h4>Please login or register in the top right or if you are just browsing click search events.</h4>
{% endif %}

{% endblock %}