{% extends 'woofer/pageframe.html' %}

{% block page_title %}Woofer{% endblock %}

{% block content %}
<div class="containter-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">User Profile</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">User: {{ user.user.username }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p class="text-left">First Name: {{ user.user.first_name }}</p>
        </div>
        <div class="col-md-3">
            <p class="text-center">Last Name: {{ user.user.last_name }}</p>
        </div>
        <div class="col-md-6">
            <p class="text-center">Email: {{ user.user.email }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p class="text-left">Phone Number: {{ user.phone_number }}</p>
        </div>
        <div class="col-md-4">
            <p class="text-center">Zipcode: {{ user.zipcode }}</p>
        </div>
        <div class="col-md-4">
            <p class="text-right">Birthday: {{ user.birthday }}</p>
        </div>
    </div>
</div>

<div>
    <a href="{% url 'add-dog' %}" ><button class="">Add New Dog<span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button></a>
</div>

{% endblock %}