{% extends 'woofer/pageframe.html' %}

{% block page_title %}{{ profile.user.username }}'s Woofer Profile{% endblock %}

{% block scripts %}
<script>
window.onload = function () {
  var options = {
    valueNames: [ 'name', 'birthday', 'breed' ],
    page: 8,
    plugins: [ ListPagination({}) ]
  };
  
  var dogList = new List('dogs', options);
}
</script>
{% endblock %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ profile.user.username }}'s Profile</h3>
  </div>
  
  <div class="panel-body">
    <h3>User Information</h3>
    <p>Username: {{ profile.user.username }}</p>
    <p>First Name: {{ profile.user.first_name }}</p>
    <p>Last Name: {{ profile.user.last_name }}</p>
    <p>Email: {{ profile.user.email }}</p>
    <a href="{% url 'edit-user' profile.user.id %}" ><button class="">Edit<span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button></a>
    <a href="{% url 'change-password' %}" ><button class="">Change Password<span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button></a>
    
    <h3>Profile Information</h3>
    <p>Phone Number: {{ profile.phone_number }}</p>
    <p>Zipcode: {{ profile.zipcode }}</p>
    <p>Birthday: {{ profile.birthday }}</p>
    <a href="{% url 'edit-profile' profile.user.id %}" ><button class="">Edit<span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button></a>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ profile.user.username }}'s Dogs</h3>
  </div>
  
  <div class="panel-body">
      <div id="dogs">
        <input class="search" placeholder="Search" />
        <button class="sort" data-sort="name">Sort by name</button>
        <button class="sort" data-sort="birthday">Sort by birthday</button>
        <button class="sort" data-sort="breed">Sort by breed</button>
      <table>
        <thead>
          <tr></tr>
        </thead>
        <tbody class="list">
          {% for dog in dogs %}
            <tr>
              <td class="name">{{ dog.name }}</td>
              <td class="birthday">{{ dog.birthday }}</td>
              <td class="breed">{{ dog.breed }}</td>
              <!-- Edit buttons -->
              <td><a href="{% url 'edit-dog' dog.id %}" ><button class="">Edit<span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button></a></td>
              <td><a href="{% url 'view-dog' dog.id %}" ><button class="">View<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></button></a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>
{% endblock %}